.about {
  margin-top: 40px;
}

.mediumList {
  display: grid;
  gap: 8px;
  margin-top: 32px;
}

.tagheading {
  padding-left: 24px;
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #4c4f5b;
}

.tagList {
  display: grid;
  grid-auto-rows: 32px;
  gap: 8px;
  align-items: center;
}

.slug {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 24px;
  font-size: 14px;
  color: var(--secondary-color);
  &:hover {
    background-color: #f3f6fb;
  }
}

.slug__selected {
  color: var(--primary-color);
  background-color: #f3f6fb;
}
