@use "../../../styles/mixins/breakpoints" as breakpoints;

.navigationInner {
  position: relative;
  width: max(200px, 100%);
  padding: 64px 24px 0;
  background: #ffffff;
  box-shadow: 2px 0px 4px rgba(48, 55, 120, 0.05);
}
