{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order"
  ],
  "selector-pseudo-class-no-unknown": [
    true,
    {
      "ignorePseudoClasses": [
        "export",
        "import",
        "global",
        "local",
        "external"
      ]
    }
  ],
  "selector-type-no-unknown": [
    true,
    {
      "ignoreTypes": [
        "from"
      ]
    }
  ],
  "property-no-unknown": [
    true,
    {
      "ignoreProperties": [
        "composes",
        "compose-with"
      ]
    }
  ],
  "rules": {
    "no-descending-specificity": null,
    "selector-id-pattern": null,
    "selector-class-pattern": null,
    "keyframes-name-pattern": null
  }
}
