.tag {
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid rgb(245 230 100 / 20%);
  border-radius: 50px;
  backdrop-filter: blur(4px);
  background-color: rgb(245 230 100 / 15%);
  color: #a89200;
  font-size: 0.8rem;
  font-weight: 600;
}
