@use "./styles/mixins/breakpoints" as breakpoints;

.author {
  display: block;
  font-size: var(--fs-2xl);
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  color: var(--primary-color);

  > a {
    color: var(--primary-color);
  }

  @media (max-width: #{breakpoints.$medium}px) {
    font-size: var(--fs-l);
  }
}
