.entry {
  display: block;
  padding-bottom: 32px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #f1f3fa;
  border-radius: 14px;
  box-shadow: 2px 8px 30px rgba(48, 55, 120, 0.04);

  > *:not(.keyvisual) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.keyvisual {
  box-shadow: 0px 2px 4px rgba(48, 55, 120, 0.05);

  > img {
    object-fit: cover;
    height: auto;
  }
}

.linkentry {
  &:hover {
    background-color: #fcfeff;

    * {
      color: #595dd9 !important;
    }
  }

  .keyvisual {
    > img {
      object-position: top center;
      height: 204px;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.medium {
  display: grid;
  height: 20px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 12px;
  color: var(--primary-color);
  background: #edeef8;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  place-items: center;
}

.taglist {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  height: 100%;
  margin-left: 12px;
}

.tag {
  font-size: 11px;
  color: #8991a4;
}

.title {
  margin-top: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  color: #30345f;
}

.link {
  font-size: 11px;
  font-weight: 500;
  color: var(--primary-color);
}

.published_date {
  display: block;
  margin-top: 16px;
  font-size: 11px;
  color: #30345f;
}
