.navitaion {
  display: grid;
  align-content: flex-start;
  justify-content: center;
  text-align: left;
  background: #ffffff;
  box-shadow: 2px 0px 4px rgba(48, 55, 120, 0.05);
}

.inner {
  position: sticky;
  top: 64px;
}

.author {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  color: #3f3f9d;
}

.job {
  font-size: 13px;
  color: #7979a9;
}

.taglist {
  display: grid;
  grid-auto-rows: 32px;
  margin-top: 108px;
  gap: 8px;
}

.tag {
  a {
    color: #8991a4;
  }
}
