@use "../../styles/mixins/article" as articleMixins;

.entry {
  display: block;
  @include articleMixins.articleStyle();

  &:hover {
    background: #f7f9fc;
    border: 1px solid #f1f3fa;
  }
}

.medium {
  display: grid;
  place-items: center;
  height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  background: #edeef8;
  border: 1px solid #3f3f9d;
  border-radius: 4px;
  font-size: 12px;
  color: #3f3f9d;
}

.header {
  display: flex;
  align-items: center;
}

.taglist {
  display: grid;
  height: 100%;
  grid-auto-flow: column;
  gap: 12px;
  margin-left: 12px;
}

.tag {
  font-size: 11px;
  color: #8991a4;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #30345f;
  margin-top: 8px;
}

.link {
  font-weight: 500;
  font-size: 11px;
  color: #3f3f9d;
}

.published_date {
  display: block;
  margin-top: 16px;
  font-size: 11px;
  color: #30345f;
}
