@use "../../styles/mixins/breakpoints" as breakpoints;
.navigation {
  position: relative;
  width: max(200px, 100%);
  background: #ffffff;
  box-shadow: 2px 0px 4px rgba(48, 55, 120, 0.05);

  @media (min-width: #{breakpoints.$medium}px) {
    width: max(200px, 100%);
    padding: 64px 24px 0;
  }

  @media (max-width: #{breakpoints.$medium}px) {
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--navigation-height-small);
    padding-top: 0;
  }
}

.menubutton {
  position: absolute;
  top: calc(50% - 20px);
  left: 16px;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @media (max-width: #{breakpoints.$medium}px) {
    display: block;
  }
}

.menuborder {
  fill: #30345f;
  transition: 200ms all ease;
  transform-origin: 250px 250px;
}

.author {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  color: var(--primary-color);

  > a {
    color: var(--primary-color);
  }
}

.job {
  font-size: 13px;
  color: #7979a9;
}

.largeListWrapper {
  @media (max-width: #{breakpoints.$medium}px) {
    display: none;
  }
}
.smallListWrapper {
  $width: 240px;

  position: absolute;
  top: var(--navigation-height-small);
  left: -$width;
  width: $width;
  padding: 24px;
  background-color: #fff;
  box-shadow: 2px 0px 4px rgba(48, 55, 120, 0.05);
  @media (min-width: #{breakpoints.$medium}px) {
    display: none;
  }

  &.smallListWrapperIsOpen {
    left: 0;
  }
}
