.wrapper {
  display: grid;
  grid-template-columns: 312px 1fr;
  max-width: 1080px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: 128px 80px;
  background: #f8f9fc;
}
