:root {
  --primary-color: #3f3f9d;
  --secondary-color: #4a4e5a;
  --text-color: #30345f;
  --navigation-height-small: 56px;
  --app-header-height: 80px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.8;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

picture {
  display: block;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}
