:root {
  --primary-color: #3f3f9d;
  --secondary-color: #4a4e5a;
  --text-color: #30345f;
  --navigation-height-small: 56px;
  --app-header-height: 80px;

  --fs-xs: 0.75rem; // 12px
  --fs-s: 0.875rem; // 14px
  --fs-base: 1rem; // 16px
  --fs-l: 1.125rem; // 18px
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem; // 24px
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.8;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

picture {
  display: block;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
}
